/* nav background */
nav.navbar.navbar-default.navbar-static-top {
  background-color: #f4511e;
}

/* nav links */
ul.nav.navbar-nav.navbar-right li a {
  color: #fff;
}

/* mobile nav */
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #FF5722;
}

/* jumbotron */
.jumbotron { 
  background-color: #f4511e;
  color: #ffffff;
}

/* buttons */
.btn-primary {
  color: #f4511e;
  background-color: #fff;
  border-color: #f4511e;
}

.btn-primary:hover, .btn-primary:active {
  color: #fff;
  background-color: #f4511e;
  border-color: #fff;
}

#google-map-canvas {
  width: 100%;
  height: 200px;
}

@media only screen and (min-width : 768px) {
  #google-map-canvas {
    height: 250px;
  }
}
}

